.catalog-additional__inner {
  margin: 0 20px 35px;
  @media (min-width: $tablet-width) {
    margin: 0 30px 76px;
  }
  @media (min-width: $desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog-additional__title {
  background-color: $white;
  font-weight: 400;
  border-bottom: 1px solid #CDCDCD;
  margin: 0;
  padding-bottom: 35px;
  @include font-line(24px, 24px);
  @media (min-width: $tablet-width) {
    @include font-line(36px, 36px);
    padding-bottom: 80px;
  }
}

.catalog-additional__list-desktop {
  @media (min-width: $desktop-width) {
    display: flex;
    gap: 80px;
    margin-bottom: 86px;
  }
}

.catalog-additional__list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @media (min-width: $tablet-width) {
    @include font-line(36px, 36px);
    margin-bottom: 69px;
  }
  @media (min-width: $tablet-width) {
    @include font-line(36px, 36px);
    margin-bottom: 0;
  }
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #CDCDCD;
  @media (min-width: $tablet-width) {
    padding: 26px 37px 28px;
  }
  @media (min-width: $tablet-width) {
    padding: 15px 0 17px;
  }
}
