.example {
  @media (max-width: $mobile-width-only){
    background-color: $special-grey;
  }
  @media (min-width: $tablet-width) {
    background-image: linear-gradient(180deg, transparent 576px, $special-grey 576px);
  }
  @media (min-width: $desktop-width) {
    width: 100%;
    background-image: linear-gradient(180deg, transparent 179px, $special-grey 179px);
  }
}

.example__inner {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  @media (min-width: $tablet-width) {
    margin: 0 31px;
    gap: 80px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    flex-direction: row;
    gap: 193px;
    padding-bottom: 65px;
  }
}

.example__content {
  padding-top: 25px;
  @media (min-width: $tablet-width) {
    padding-top: 43px;
  }
}

.example__compare {
  padding-bottom: 40px;
  @media (min-width: $tablet-width) {
    padding-bottom: 55px;
  }
  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
    min-width: 591px;
  }
}

.example__title {
  font-family: $font-heading;
  font-weight: 400;
  @include font-line(36px, 40px);
  margin-top: 0;
  margin-bottom: 40px;
  @media (min-width: $tablet-width) {
    @include font-line(60px, 60px);
    margin-bottom: 63px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.example__text {
  color: $dark-grey;
  @include font-line(14px, 18px);
  font-family: $font-body;
  margin-top: 0;
  margin-bottom: 20px;
  @media (min-width: $tablet-width) {
    @include font-line(16px, 24px);
    margin-bottom: 54px;
  }
  @media (min-width: $desktop-width) {
    @include font-line(16px, 24px);
    margin-bottom: 69px;
  }
}

.example__statistics {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 34px;
  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 42px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    margin-right: 70px;
  }
}

.example__number {
  @include font-line(24px, 24px);
  text-transform: uppercase;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  margin: 0;
  position: relative;
  @media (min-width: $tablet-width) {
    @include font-line(30px, 37px);
  }
}

.example__description {
  margin-left: 0;
  font-family: $font-body;
  @include font-line(12px, 12px);
  color: $dark-grey;
  width: 87px;
  text-transform: none;
  text-align: center;
  background-color: $special-grey;
  position: absolute;
  transform: translate(50%);
  bottom: -17px;
  right: 50%;
  @media (min-width: $tablet-width) {
    @include font-line(14px, 14px);
    background-color: $white;
    width: auto;
    width: 115px;
    bottom: -6px;
    br {
      display: none;
    }
  }
  @media (min-width: $desktop-width) {
    background-color: $special-grey;
  }
}

.example__number--days .example__description{
  @media (min-width: $tablet-width) {
    width: 141px;
}
}

.example__spending {
  @include font-line(14px, 20px);
  text-transform: uppercase;
  margin: 0;
  grid-column: 1/-1;
  text-align: center;
  @media (min-width: $tablet-width) {
    @include font-line(20px, 20px);
    grid-column: auto;
    text-align: right;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  @media (min-width: $desktop-width) {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.example__control {
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0 35px;
  @media (min-width: $tablet-width){
    margin: 0 89px;
  }
  @media (min-width: $desktop-width){
    margin: 0;
  }
}

.example__label {
  flex-grow: 1;
  display: flex;
  @media (max-width: $mobile-width-only){
    background-color:$white;
    outline: 1px solid #CDCDCD;
    border-radius: 6px;
  }
}

.example__control-text {
  font-family: $font-heading;
  @include font-line(16px, 20px);
  text-transform: uppercase;
  @media (min-width: $tablet-width){
    @include font-line(20px, 30px);
    border-bottom: 1px dotted rgba($black, 0.3);
  }
}

.example__range{
  width: 100%;
  @media (max-width: $mobile-width-only){
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    background: $white;
    padding: 0;
    margin: 4px 6px;
    overflow: hidden;
    box-shadow: inset 0 0 5px $white;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 6px;
    background: $basic-green;
    cursor: pointer;
    box-shadow: -598px 0 0 598px $basic-green;
    }
  }
  @media (min-width: $tablet-width){
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    background: #DCDCDC;
    padding: 0;
    margin: 0;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 33px;
      height: 33px;
      background: $basic-green;
      cursor: pointer;
      border: 13px solid $white;
      outline: 1px solid #CDCDCD;
      border-radius: 50%;
      box-shadow:0px 1px 3px rgba(0, 0, 0, 0.16);
      }
  }
}
