.logo {
  display: grid;
  grid-template-columns:  1fr 1fr;
  align-items:center;
  @media (min-width: $tablet-width) {
    display: flex;
    width: 174px;
    justify-content: space-between;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.logo__signature {
  justify-self: center;
}

