.logo {
  @media (max-width: $mobile-width-only){
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items:center;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}

.logo__signature {
  justify-self: center;
}


.logo__signature,
.logo__image {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.logo__tablet {
  @media (min-width: $desktop-width), (max-width: $mobile-width-only) {
    display: none;
  }
}

.logo__desktop {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.logo__vk {
  width: 23px;
  height: 16px;
  @media (min-width: $tablet-width){
    width: 30px;
    height: 22px;
  }
}

.logo__inst {
  width: 16px;
  height: 16px;
  @media (min-width: $tablet-width){
    width: 23px;
    height: 23px;
  }
}

.logo__fb {
  width: 22px;
  height: 22px;
  @media (min-width: $tablet-width){
    width: 28px;
    height: 33px;
  }
}
