.offer {
  background-image: url("../img/catalog/background-offer-mobile.webp");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/background-offer-mobile@2x.png");
    background-size: 280px auto;
  }
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba($basic-green, 0.85);
  padding: 58px 60px 43px;
  background-size: cover;
  @media (min-width: $tablet-width) {
    background-image: url("../img/catalog/background-offer-tablet.webp");
  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog/background-offer-tablet@2x.png");
    background-size: 100% auto;
  }
    padding: 57px 77px 60px;
    display: grid;
    grid-template-columns: 60% 1fr;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    background-image: url("../img/catalog/background-offer-desktop.webp");
    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog/background-offer-desktop@2x.png");
      background-size: 100% auto;
    }
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    width: 245px;
    box-sizing: border-box;
    padding: 55px 43px 42px 41px;
  }
  }

.offer__icon {
  background-image: url("../img/svg_icon/icon_gift.svg");
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.offer__text {
  font-family: $font-body;
  @include font-line(16px, 20px);
  color: $white;
  margin: 0;
  text-align: center;
  @media (min-width: $tablet-width) {
    text-align: left;
    padding-right: 47px;
  }
  @media (min-width: $desktop-width) {
    text-align: center;
    padding-right: 0;
    margin-top: 46px;
  }
}
