.offer {
  background-image: url("../../img/background-offer.jpg");
  background-color: rgba($basic-green, 0.85);
  padding: 58px 60px 43px;
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 245px;
    box-sizing: border-box;
  }
}

.offer__icon {
  background-image: url("../../img/icon_gift.svg");
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.offer__text {
  font-family: $font-body;
  @include font-line(16px, 20px);
  color: $white;
  margin: 0;
  text-align: center;
}
