.page-main {
  margin: 0 auto;
}

.page-main__title {
  font-weight: 400;
  @include font-line(36px,40px);
}

.page-main__primary-title {
  font-weight: 400;
  @include font-line(36px, 36px);
}

.page-main__subtitle {
  @include font-line(14px, 18px);
}
