.page-main__primary-title {
  font-weight: 400;
  @include font-line(36px, 36px);
  margin: 0;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  min-height: 72px;
  @media (min-width: $tablet-width){
    @include font-line(60px, 60px);
    padding-top: 40px;
    text-align: left;
    margin-bottom: 41px;
    min-height: 120px;
  }
  @media (min-width: $desktop-width){
    margin-bottom: 29px;
    padding-top: 21px;
    max-width: 414px;
  }
}
