.show-more {
  padding: 25px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: $tablet-width) {
    padding: 37px;
    padding-top: 52px;
    outline: 2px solid $basic-grey;
    margin-top: 81px;
    justify-content: space-between;
  }
  @media (min-width: $desktop-width) {
    padding: 51px 37px 41px;
  }
}

.show-more__button-plus {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  margin-bottom: 23px;
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-bottom: 49px;
  }
}

.show-more__button-icon {
  width: 30px;
  height: 30px;
  stroke: #D3D3D3;
  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
  &:hover {
    stroke: #EBEBEB;
  }
  &:active {
    opacity: 0.3;
  }
}

.show-more__title {
  @include font-line(16px, 20px);
  text-transform: uppercase;
  color: $very-dark;
  margin-top: 0;
  position: relative;
  margin-bottom: 8px;
  @media (max-width: $mobile-width-only){
    br {
      display: none;
    }
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 23px;
    @include font-line(20px, 22px);
    text-align: center;
  }
}

.show-more__desc {
  font-family: $font-body;
  @include font-line(12px, 16px);
  color: $special-dark-grey;
  margin-top: 0;
  margin-bottom: 21px;
  @media (max-width: $mobile-width-only){
    br {
      display: none;
    }
  }
  @media (min-width: $tablet-width) {
    margin-bottom: 87px;
    @include font-line(16px, 18px);
    text-align: center;
  }
}

.show-more__button{
  background-color: $basic-grey;
  text-decoration: none;
  color: $dark-grey;
  @include font-line(16px, 20px);
  align-self: stretch;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
  &:hover {
    background-color: #EBEBEB;
  }
  &:active {
    opacity: 0.3;
  }
}

