@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
.page__body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

.card-row {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
@media (min-width: 768px) {
  .card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1440px) {
  .card-row {
    grid-template-columns: 1fr 2fr 244px;
    column-gap: 41px;
  }
}

.card-row__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
}
@media (min-width: 768px) {
  .card-row__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-row__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card-row__list {
    display: grid;
    grid-template-columns: 1fr 130px;
  }
}

.card-row__quantity,
.card-row__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .card-row__quantity,
.card-row__price {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }
}

@media (min-width: 768px) {
  .card-row__quantity {
    font-size: 16px;
    line-height: 20px;
    justify-self: start;
  }
}

@media (min-width: 1440px) {
  .card-row .card__button {
    grid-column: 3/-1;
  }
}

.card {
  padding: 8px 20px 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px;
    background-image: linear-gradient(180deg, transparent 73px, #F2F2F2 73px);
  }
}
@media (min-width: 1440px) {
  .card {
    padding: 0 35px 40px 30px;
    background-image: linear-gradient(180deg, transparent 80px, #F2F2F2 80px);
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}

.card__button {
  grid-column: 1/-1;
}

.catalog-additional__inner {
  margin: 0 20px 35px;
}
@media (min-width: 768px) {
  .catalog-additional__inner {
    margin: 0 30px 76px;
  }
}
@media (min-width: 1440px) {
  .catalog-additional__inner {
    width: 1220px;
    margin: 0 auto;
  }
}

.catalog-additional__title {
  background-color: #FFFFFF;
  font-weight: 400;
  border-bottom: 1px solid #CDCDCD;
  margin: 0;
  padding-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 80px;
  }
}

@media (min-width: 1440px) {
  .catalog-additional__list-desktop {
    display: flex;
    gap: 80px;
    margin-bottom: 86px;
  }
}

.catalog-additional__list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 69px;
  }
}
@media (min-width: 768px) {
  .catalog-additional__list {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
  }
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .catalog-additional__item {
    padding: 26px 37px 28px;
  }
}
@media (min-width: 768px) {
  .catalog-additional__item {
    padding: 15px 0 17px;
  }
}

.catalog-sections__inner {
  margin: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .catalog-sections__inner {
    margin: 0 30px;
    gap: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1440px) {
  .catalog-sections__inner {
    width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.catalog-section__item {
  background-color: #F2F2F2;
  padding: 20px;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 19px;
  row-gap: 22px;
}
@media (min-width: 768px) {
  .catalog-section__item {
    grid-template-columns: 1fr min-content;
    column-gap: 54px;
    row-gap: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog-section__item {
    grid-template-columns: min-content 1fr;
    column-gap: 62px;
    row-gap: 23px;
  }
}

.catalog-section__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  grid-column: 2/-1;
}
@media (min-width: 768px) {
  .catalog-section__title {
    grid-column: 1/2;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .catalog-section__title {
    grid-column: 2/-1;
  }
}

.catalog-section__icon {
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .catalog-section__icon {
    grid-column: 2/3;
    grid-row: 3/-1;
  }
}
@media (min-width: 1440px) {
  .catalog-section__icon {
    grid-row: 1/2;
    grid-column: 1/2;
    margin-bottom: 16px;
  }
}

.catalog-section__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .catalog-section__text {
    grid-column: 1/2;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalog-section__text {
    grid-column: 1/-1;
  }
}

.catalog-section__button {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  grid-column: 1/-1;
  padding-top: 15px;
  padding-bottom: 18px;
  border-top: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .catalog-section__button {
    border: none;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .catalog__inner {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 76px;
  }
}
@media (min-width: 768px) {
  .catalog__inner {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .catalog__inner {
    margin: 8px 0 25px 0;
  }
}

.catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 20px 41px;
  margin: 0;
}
@media (max-width: 767px) {
  .catalog-title {
    border-bottom: 1px solid #EBEBEB;
  }
}
@media (min-width: 768px) {
  .catalog-title {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 30px 82px;
  }
}
@media (min-width: 1440px) {
  .catalog-title {
    padding: 74px 0 84px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .catalog__item {
    border-bottom: 1px solid #EBEBEB;
  }
}

.contacts {
  position: relative;
  background-color: #F2F2F2;
}

.contacts__inner {
  margin: 0 20px;
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__inner {
    margin: 0 30px;
    column-gap: 296px;
    padding: 56px 40px;
  }
}
@media (min-width: 1440px) {
  .contacts__inner {
    padding: 56px 80px;
    column-gap: 87px;
    margin: 0;
    width: 565px;
    position: absolute;
    background-color: #FFFFFF;
    top: 95px;
    left: 110px;
  }
}

.contacts__partnership {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__partnership {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
  }
}

.copyright {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
}
@media (min-width: 768px) {
  .copyright {
    padding: 5px;
    border-bottom: none;
    gap: 22px;
  }
}

@media (max-width: 767px) {
  .example {
    background-color: #EAEAEA;
  }
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(180deg, transparent 576px, #EAEAEA 576px);
  }
}
@media (min-width: 1440px) {
  .example {
    width: 100%;
    background-image: linear-gradient(180deg, transparent 179px, #EAEAEA 179px);
  }
}

.example__inner {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .example__inner {
    margin: 0 31px;
    gap: 80px;
  }
}
@media (min-width: 1440px) {
  .example__inner {
    width: 1220px;
    margin: 0 auto;
    flex-direction: row;
    gap: 193px;
  }
}

.example__content {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .example__content {
    padding-top: 43px;
  }
}

.example__compare {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .example__compare {
    padding-bottom: 55px;
  }
}
@media (min-width: 1440px) {
  .example__compare {
    padding-bottom: 75px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1440px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.example__description {
  margin-left: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.example__spending {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
    line-height: 20px;
  }
}

.field__lead,
.field__input {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__lead,
.field__input {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 768px) {
  .form {
    margin: 0 30px;
  }
}
@media (min-width: 1440px) {
  .form {
    width: 1220px;
    margin: 0 auto;
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  padding: 0 20px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 65px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .form__title {
    padding: 0;
    margin-bottom: 56px;
    margin-top: 73px;
  }
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 39px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    padding: 0 40px;
  }
}
@media (min-width: 1440px) {
  .form__subtitle {
    padding: 0;
    margin-bottom: 66px;
  }
}

.form-inner {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form-inner {
    padding-left: 41px;
    padding-right: 37px;
    margin-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form-inner {
    padding: 0;
    margin-bottom: 82px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 13px;
}
@media (min-width: 768px) {
  .form__group {
    gap: 20px;
  }
}

.form-field {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 13px;
}

@media (min-width: 1440px) {
  .form__main-profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 65px;
  }
}

.form__group--personal {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__group--personal {
    margin-bottom: 72px;
  }
}

.form__group--programm {
  outline: 1px solid #D9D9D9;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .form__group--programm {
    margin-left: -20px;
    margin-right: -20px;
    padding: 22px 20px 19px;
  }
}
@media (min-width: 768px) {
  .form__group--programm {
    margin-bottom: 72px;
    padding: 25px 27px 25px;
  }
}

.form__legend {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__legend {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}

.form__group--owner {
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .form__group--owner {
    margin-bottom: 65px;
  }
}
@media (min-width: 1440px) {
  .form__group--owner {
    margin-bottom: 69px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.form__group--comment {
  margin-bottom: 22px;
  gap: 0;
}
@media (min-width: 768px) {
  .form__group--comment {
    margin-bottom: 66px;
  }
}
@media (min-width: 1440px) {
  .form__group--comment {
    margin-bottom: 67px;
  }
}

.field__comment {
  margin: 0;
  padding: 0;
  border: 1px solid #E7E7E7;
  height: 150px;
  width: 100%;
  padding: 9px 12px 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .field__comment {
    height: 174px;
    padding-top: 10px;
    padding-left: 19px;
  }
}

.form__group--additional {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__group--additional {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 123px;
  }
}
@media (min-width: 1440px) {
  .form__group--additional {
    margin-bottom: 61px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 104px;
  }
}

.form__legend--additional {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__legend--additional {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .form__legend--additional {
    margin-bottom: 57px;
  }
}

.form_footer {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media (min-width: 768px) {
  .form_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
  }
}
@media (min-width: 1440px) {
  .form_footer {
    column-gap: 81px;
  }
}

.form__additional {
  font-size: 16px;
  line-height: 16px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .logo {
    display: flex;
    width: 174px;
    justify-content: space-between;
  }
}

.logo__signature {
  justify-self: center;
}

.offer {
  background-image: url("../../img/background-offer.jpg");
  background-color: rgba(104, 183, 56, 0.85);
  padding: 58px 60px 43px;
}
@media (min-width: 768px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 245px;
    box-sizing: border-box;
  }
}

.offer__icon {
  background-image: url("../../img/icon_gift.svg");
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .offer__icon {
    margin-bottom: 0;
  }
}

.offer__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.page-footer {
  background-color: #F2F2F2;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-footer__inner {
    margin: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 20px;
  }
}
@media (min-width: 1440px) {
  .page-footer__inner {
    width: 1220px;
    margin: 57px auto;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: space-around;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 5px;
    border-bottom: none;
    display: block;
  }
}

.page-header__nav {
  position: relative;
}
@media (max-width: 767px) {
  .page-header__nav {
    border-bottom: 1px solid #D9D9D9;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    margin: 24px 30px;
  }
}
@media (min-width: 1440px) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    margin: 53px auto;
    width: 1220px;
  }
}

.page-header__bar {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 10px 20px 17px;
}
@media (min-width: 768px) {
  .page-header__bar {
    display: flex;
    padding: 0;
  }
}

.page-header__menu {
  display: none;
}
@media (max-width: 767px) {
  .page-header__menu {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
  }
}

.page-header__toogle {
  justify-self: end;
  width: 24px;
}
@media (min-width: 768px) {
  .page-header__toogle {
    display: none;
  }
}

.page-main__primary-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .page-main__primary-title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 40px;
    text-align: left;
    margin-bottom: 41px;
  }
}
@media (min-width: 1440px) {
  .page-main__primary-title {
    margin-bottom: 29px;
    padding-top: 21px;
  }
}

.process__inner {
  padding: 0 20px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .process__inner {
    padding: 0 30px;
    padding-bottom: 47px;
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (min-width: 1440px) {
  .process__inner {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
    margin-bottom: 26px;
  }
}

.process__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .process__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.process__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 153px;
    row-gap: 37px;
  }
}

.process__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .process__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.promo {
  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../img/background-promo.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .promo {
    background-image: none;
    background-color: #FFFFFF;
    color: #000000;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-image: none;
    background-color: transparent;
  }
}

.promo__inner {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .promo__inner {
    margin-left: 117px;
    margin-right: 79px;
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .promo__inner {
    width: 1220px;
    margin: 0 auto;
    margin-bottom: 82px;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 52px;
  }
}

.show-more {
  padding: 78px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .show-more {
    padding: 37px;
    padding-top: 161px;
  }
}
@media (min-width: 1440px) {
  .show-more {
    padding: 160px 37px 41px;
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  position: relative;
  margin-bottom: 8px;
}
.show-more__title::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../../img/plus.svg);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -40px;
}
@media (min-width: 768px) {
  .show-more__title {
    margin-bottom: 23px;
  }
}

.show-more__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 21px;
}
@media (min-width: 768px) {
  .show-more__desc {
    margin-bottom: 87px;
  }
}

.show-more__button {
  background-color: #F2F2F2;
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  align-self: stretch;
}

.site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    width: 62.15%;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    width: 39.18%;
    justify-content: space-between;
  }
}

.site-menu__item {
  text-align: center;
  border-top: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .site-menu__item {
    border-top: none;
  }
}

.site-menu__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-menu__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 11px;
  }
}
@media (min-width: 1440px) {
  .site-menu__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 23px 0;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .social-list {
    padding: 5px;
    border-bottom: none;
  }
}

.social-list__item:not(:last-child) {
  padding-right: 35px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #68B738;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  border: none;
}
.button:hover {
  background-color: #5EAA2F;
}

.card-desc {
  margin: 0;
}

.card-desc__title,
.card-desc__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

.card-desc {
  margin: 0;
}

.card-desc__title,
.card-desc__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}

.contacts-inner {
  background-color: #F2F2F2;
}

.control-radio__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.control-checkbox__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

@media (min-width: 1440px) {
  .page-index__body {
    position: relative;
  }
  .page-index__body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image: url("../../img/background-promo-desktop.jpg");
    background-color: rgba(104, 183, 56, 0.85);
    z-index: -1;
  }
}

@media (min-width: 1440px) {
  .page-index__body .site-menu__link {
    color: #FFFFFF;
  }
}

.page-index__body .page-header__nav {
  border-bottom: none;
}

@media (min-width: 1440px) {
  .page-index__body .page-main__primary-title {
    padding-top: 58px;
  }
}
/*# sourceMappingURL=style.css.map */