@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
.page__body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
}

@media (min-width: 1220px) {
  .page__body--index {
    position: relative;
  }
  .page__body--index::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 694px;
    top: 0;
    right: 0;
    background-image: url("../../img/background-promo-desktop.jpg");
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (min-width: 1220px) {
  .page__body--index .site-menu__link {
    color: #FFFFFF;
  }
}

.page__body--index .page-header__nav {
  border-bottom: none;
}

@media (min-width: 1220px) {
  .page__body--index .page-main__primary-title {
    padding-top: 58px;
  }
}

@media (min-width: 768px) {
  .page__body--index .site-menu__link--current {
    border-bottom: 2px solid #FFFFFF;
  }
}

.card-row {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
@media (min-width: 768px) {
  .card-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1220px) {
  .card-row {
    grid-template-columns: 1fr 2fr 244px;
    column-gap: 41px;
  }
}

.card-row__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin: 0;
  color: #222222;
}
@media (min-width: 768px) {
  .card-row__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.card-row__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .card-row__list {
    display: grid;
    grid-template-columns: 1fr 130px;
  }
}

.card-row__quantity,
.card-row__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .card-row__quantity,
.card-row__price {
    font-size: 16px;
    line-height: 20px;
    justify-self: end;
  }
}

@media (min-width: 768px) {
  .card-row__quantity {
    font-size: 16px;
    line-height: 20px;
    justify-self: start;
  }
}

.card-row__button {
  padding: 10px;
}
@media (min-width: 768px) {
  .card-row__button {
    grid-column: 1/-1;
  }
}
@media (min-width: 1220px) {
  .card-row__button {
    grid-column: 3/-1;
  }
}

.card {
  padding: 8px 20px 11px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .card {
    display: flex;
    flex-direction: column;
    padding: 0 36px 39px;
    background-image: linear-gradient(180deg, transparent 81px, #F2F2F2 81px);
  }
}
@media (min-width: 1220px) {
  .card {
    padding: 0 35px 40px 30px;
    row-gap: 33px;
  }
}

.card__content {
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 18px;
}
@media (min-width: 768px) {
  .card__content {
    row-gap: 21px;
    margin-top: 34px;
  }
}
@media (min-width: 1220px) {
  .card__content {
    margin-top: 13px;
  }
}

.card__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
  grid-row: 1/2;
}
@media (min-width: 768px) {
  .card__title {
    text-align: center;
    grid-column: 1/-1;
    font-size: 20px;
    line-height: 24px;
    width: 136px;
    margin: 0 auto;
  }
}
@media (min-width: 1220px) {
  .card__title {
    font-size: 20px;
    line-height: 21px;
  }
}

.card__desc {
  grid-row: 2/3;
  grid-column: 1/-1;
}

.card__button {
  grid-column: 1/-1;
  margin-bottom: 14px;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .card__button {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
@media (min-width: 1220px) {
  .card__button {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .card__image {
    height: 200px;
  }
}
@media (min-width: 1220px) {
  .card__image {
    height: 196px;
  }
}

.catalog-additional {
  position: relative;
}

.catalog-additional__inner {
  margin: 0 20px 35px;
}
@media (min-width: 768px) {
  .catalog-additional__inner {
    margin: 0 30px 76px;
  }
}
@media (min-width: 1220px) {
  .catalog-additional__inner {
    max-width: 1220px;
    margin: 0 auto;
  }
}
.catalog-additional__inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 16px;
  right: 0;
  z-index: -1;
}

.catalog-additional__head {
  display: flex;
}

.catalog-additional__title {
  background-color: #FFFFFF;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 24px;
  line-height: 24px;
  padding-left: 20px;
  padding-right: 22px;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .catalog-additional__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 36px;
    padding-right: 36px;
    margin-left: 0;
  }
}
@media (min-width: 1220px) {
  .catalog-additional__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 40px;
    padding-right: 36px;
    margin-left: -40px;
  }
}

@media (min-width: 1220px) {
  .catalog-additional__list-desktop {
    display: flex;
    gap: 80px;
    margin-bottom: 86px;
  }
}

.catalog-additional__list {
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-top: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .catalog-additional__list {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 69px;
  }
}
@media (min-width: 1220px) {
  .catalog-additional__list {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 0;
  }
}

.catalog-additional__item {
  padding: 13px 0 19px;
  border-bottom: 1px solid #CDCDCD;
}
@media (min-width: 768px) {
  .catalog-additional__item {
    padding: 26px 37px 28px;
  }
}
@media (min-width: 1220px) {
  .catalog-additional__item {
    padding: 15px 0 17px;
  }
}

.catalog-sections__inner {
  margin: 0 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 768px) {
  .catalog-sections__inner {
    margin: 0 30px;
    gap: 30px;
    margin-bottom: 45px;
  }
}
@media (min-width: 1220px) {
  .catalog-sections__inner {
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 71px;
  }
}

.catalog-section__item {
  background-color: #F2F2F2;
  padding: 20px;
  display: grid;
  grid-template-columns: 68px 1fr;
}
@media (min-width: 768px) {
  .catalog-section__item {
    grid-template-columns: auto 234px;
    padding: 77px 28px 53px 52px;
    column-gap: 54px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__item {
    grid-template-columns: 114px 1fr;
    column-gap: 47px;
    padding: 41px 51px 55px 52px;
  }
}

.catalog-section__title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  margin: 0;
  grid-column: 2/-1;
  align-self: center;
}
@media (min-width: 768px) {
  .catalog-section__title {
    grid-column: 1/2;
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__title {
    grid-column: 2/-1;
  }
}

.catalog-section__icon {
  grid-row: 1/2;
  justify-self: start;
}
@media (min-width: 768px) {
  .catalog-section__icon {
    grid-column: 2/3;
    grid-row: 3/-1;
    width: 268px;
    height: 200px;
    justify-self: end;
  }
}
@media (min-width: 1220px) {
  .catalog-section__icon {
    grid-row: 1/2;
    grid-column: 1/2;
    width: 100px;
    height: 106px;
    justify-self: start;
  }
}

.catalog-section__icon--fit {
  margin-left: -7px;
}
@media (min-width: 768px) {
  .catalog-section__icon--fit {
    margin-left: -34px;
    justify-self: center;
  }
}
@media (min-width: 1220px) {
  .catalog-section__icon--fit {
    margin-left: -20px;
    width: 134px;
  }
}

.catalog-section__text {
  color: #444444;
  font-family: "Arial", sans-serif;
  padding: 22px 0;
  border-bottom: 1px solid #D9D9D9;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .catalog-section__text {
    grid-column: 1/2;
    font-size: 16px;
    line-height: 24px;
    border: none;
    padding-top: 24px;
    padding-bottom: 48px;
  }
}
@media (min-width: 1220px) {
  .catalog-section__text {
    grid-column: 1/-1;
    padding-top: 39px;
    padding-bottom: 23px;
  }
}

.catalog-section__button {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  grid-column: 1/-1;
  padding: 4px 0;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .catalog-section__button {
    border: none;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}
.catalog-section__button:active {
  opacity: 0.3;
}

@media (min-width: 1220px) {
  .catalog__inner {
    max-width: 1220px;
    margin: 0 auto;
    margin-bottom: 76px;
  }
}
@media (min-width: 768px) {
  .catalog__inner {
    margin-bottom: 64px;
  }
}
@media (max-width: 767px) {
  .catalog__inner {
    margin: 8px 0 25px 0;
  }
}

.catalog-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  padding: 27px 20px 41px;
  margin: 0;
}
@media (max-width: 767px) {
  .catalog-title {
    border-bottom: 1px solid #EBEBEB;
  }
}
@media (min-width: 768px) {
  .catalog-title {
    font-size: 60px;
    line-height: 60px;
    padding: 64px 30px 82px;
  }
}
@media (min-width: 1220px) {
  .catalog-title {
    padding: 74px 0 84px;
  }
}

.catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0 30px;
  }
}
@media (min-width: 1220px) {
  .catalog__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    row-gap: 144px;
    padding: 0;
  }
}

@media (max-width: 767px) {
  .catalog__item {
    border-bottom: 1px solid #EBEBEB;
  }
}

.contacts {
  background-color: #F2F2F2;
}

.contacts__wrapper {
  background-color: #FFFFFF;
}
@media (min-width: 1220px) {
  .contacts__wrapper {
    max-width: 1220px;
    margin: 0 auto;
    position: relative;
  }
}

.contacts--grey .contacts__wrapper {
  background-color: #F2F2F2;
}
@media (min-width: 1220px) {
  .contacts--grey .contacts__wrapper {
    background-color: transparent;
  }
}

.contacts__inner {
  margin: 0 20px;
  padding: 26px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (min-width: 768px) {
  .contacts__inner {
    margin: 0 30px;
    column-gap: 296px;
    padding: 56px 40px;
  }
}
@media (min-width: 1220px) {
  .contacts__inner {
    padding: 56px 80px;
    column-gap: 87px;
    margin: 0;
    width: 565px;
    background-color: #FFFFFF;
    top: 95px;
    position: absolute;
  }
}

.contacts__partnership {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__partnership {
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .contacts__address {
    font-size: 16px;
    line-height: 20px;
  }
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  padding: 22px 0;
  align-items: center;
  text-decoration: none;
  color: #444444;
}
@media (min-width: 768px) {
  .copyright__link {
    padding: 5px;
    border-bottom: none;
    gap: 22px;
  }
}
.copyright__link:hover {
  opacity: 0.8;
}
.copyright__link:hover .copyright__icon {
  fill: #68B738;
}
.copyright__link:active {
  opacity: 0.3;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.copyright__icon {
  width: 27px;
  height: 34px;
  fill: #666666;
}

@media (max-width: 767px) {
  .example {
    background-color: #EAEAEA;
  }
}
@media (min-width: 768px) {
  .example {
    background-image: linear-gradient(180deg, transparent 576px, #EAEAEA 576px);
  }
}
@media (min-width: 1220px) {
  .example {
    width: 100%;
    background-image: linear-gradient(180deg, transparent 179px, #EAEAEA 179px);
  }
}

.example__inner {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .example__inner {
    margin: 0 31px;
    gap: 80px;
  }
}
@media (min-width: 1220px) {
  .example__inner {
    max-width: 1220px;
    margin: 0 auto;
    flex-direction: row;
    gap: 193px;
    padding-bottom: 65px;
  }
}

.example__content {
  padding-top: 25px;
}
@media (min-width: 768px) {
  .example__content {
    padding-top: 43px;
  }
}

.example__compare {
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .example__compare {
    padding-bottom: 55px;
  }
}
@media (min-width: 1220px) {
  .example__compare {
    padding-bottom: 75px;
    min-width: 591px;
  }
}

.example__title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-top: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }
}
@media (min-width: 1220px) {
  .example__title {
    margin-bottom: 146px;
  }
}

.example__text {
  color: #444444;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}
@media (min-width: 1220px) {
  .example__text {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 69px;
  }
}

.example__statistics {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 34px;
}
@media (min-width: 768px) {
  .example__statistics {
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 42px;
  }
}
@media (min-width: 1220px) {
  .example__statistics {
    grid-template-columns: 1fr 1fr;
    column-gap: 42px;
    margin-right: 70px;
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #CDCDCD;
  border-radius: 3px;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  margin: 0;
  position: relative;
}
@media (min-width: 768px) {
  .example__number {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  margin-left: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  width: 87px;
  text-transform: none;
  text-align: center;
  background-color: #EAEAEA;
  position: absolute;
  transform: translate(50%);
  bottom: -17px;
  right: 50%;
}
@media (min-width: 768px) {
  .example__description {
    font-size: 14px;
    line-height: 14px;
    background-color: #FFFFFF;
    width: auto;
    width: 115px;
    bottom: -6px;
  }
  .example__description br {
    display: none;
  }
}
@media (min-width: 1220px) {
  .example__description {
    background-color: #EAEAEA;
  }
}

@media (min-width: 768px) {
  .example__number--days .example__description {
    width: 141px;
  }
}

.example__spending {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  grid-column: 1/-1;
  text-align: center;
}
@media (min-width: 768px) {
  .example__spending {
    font-size: 20px;
    line-height: 20px;
    grid-column: auto;
    text-align: right;
    align-self: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
@media (min-width: 1220px) {
  .example__spending {
    grid-column: 1/-1;
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.example__control {
  display: flex;
  gap: 13px;
  align-items: center;
  margin: 0 35px;
}
@media (min-width: 768px) {
  .example__control {
    margin: 0 89px;
  }
}
@media (min-width: 1220px) {
  .example__control {
    margin: 0;
  }
}

.example__label {
  flex-grow: 1;
  display: flex;
}
@media (max-width: 767px) {
  .example__label {
    background-color: #FFFFFF;
    outline: 1px solid #CDCDCD;
    border-radius: 6px;
  }
}

.example__control-text {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .example__control-text {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
  }
}

.example__range {
  width: 100%;
}
@media (max-width: 767px) {
  .example__range {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    background: #FFFFFF;
    padding: 0;
    margin: 4px 6px;
    overflow: hidden;
    box-shadow: inset 0 0 5px #FFFFFF;
  }
  .example__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 6px;
    background: #68B738;
    cursor: pointer;
    box-shadow: -598px 0 0 598px #68B738;
  }
}
@media (min-width: 768px) {
  .example__range {
    -webkit-appearance: none;
    height: 6px;
    border-radius: 6px;
    background: #DCDCDC;
    padding: 0;
    margin: 0;
  }
  .example__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 33px;
    height: 33px;
    background: #68B738;
    cursor: pointer;
    border: 13px solid #FFFFFF;
    outline: 1px solid #CDCDCD;
    border-radius: 50%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
}

.field__lead,
.field__input {
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  color: #444444;
}
@media (min-width: 768px) {
  .field__lead,
.field__input {
    font-size: 20px;
    line-height: 30px;
  }
}

.field__input {
  border: none;
  outline: 1px solid #E7E7E7;
  margin: 0;
  padding: 13px 15px;
  padding-right: 0;
  box-sizing: border-box;
  width: 100%;
}
.field__input:hover {
  outline: 1px solid #CDCDCD;
}
.field__input:focus {
  border: none;
  outline: 2px solid #444444;
}
.field__input:invalid {
  outline: 2px solid #FF8282;
}

.form__group--owner .field__input {
  padding-right: 37px;
}
.form__group--owner .field__input[type=email] {
  background-image: url("../../img/svg_icon/icon_email.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 15px);
  background-position-y: center;
}
@media (min-width: 768px) {
  .form__group--owner .field__input[type=email] {
    background-position-x: calc(100% - 19px);
  }
}
.form__group--owner .field__input[type=tel] {
  background-image: url("../../img/svg_icon/icon_phone.svg");
  background-repeat: no-repeat;
  background-position-x: calc(100% - 13px);
  background-position-y: center;
}
@media (min-width: 768px) {
  .form__group--owner .field__input[type=tel] {
    background-position-x: calc(100% - 17px);
  }
}

.form {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .form {
    margin-bottom: 72px;
  }
}
@media (min-width: 1220px) {
  .form {
    margin-bottom: 82px;
  }
}

.form__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 25px;
}
@media (min-width: 768px) {
  .form__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
    margin-top: 65px;
  }
}
@media (min-width: 1220px) {
  .form__title {
    margin-bottom: 56px;
    margin-top: 73px;
  }
}

.form__subtitle {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 39px;
}
@media (min-width: 768px) {
  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }
}
@media (min-width: 1220px) {
  .form__subtitle {
    margin-bottom: 66px;
  }
}

.form__group {
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.form__group-input {
  display: grid;
  gap: 13px;
}
@media (min-width: 768px) {
  .form__group-input {
    gap: 20px;
  }
}

.form-field {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 13px;
  align-items: center;
}

.form__group-head {
  display: flex;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__group-head {
    margin-bottom: 76px;
  }
}

.form__group-title {
  font-size: 24px;
  line-height: 26px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  padding-right: 22px;
  background: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 20px;
  margin-left: -20px;
}
@media (min-width: 768px) {
  .form__group-title {
    font-size: 36px;
    line-height: 36px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: -40px;
  }
}

.form__group-inner,
.form_footer,
.form_header {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .form__group-inner,
.form_footer,
.form_header {
    margin-right: 67px;
    margin-left: 70px;
  }
}
@media (min-width: 1220px) {
  .form__group-inner,
.form_footer,
.form_header {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.form__group-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #68B738;
  top: 16px;
  right: 0;
  z-index: -1;
}

.form__group--owner {
  margin-bottom: 23px;
}
@media (max-width: 420px) {
  .form__group--owner .form__group-title {
    max-width: 187px;
  }
}
@media (min-width: 768px) {
  .form__group--owner {
    margin-bottom: 65px;
  }
}
@media (min-width: 1220px) {
  .form__group--owner {
    margin-bottom: 69px;
  }
}
@media (min-width: 1220px) {
  .form__group--owner .form__group-input {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
  }
}

.form__main-profile {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .form__main-profile {
    margin-right: 67px;
    margin-left: 70px;
  }
}
@media (min-width: 1220px) {
  .form__main-profile {
    max-width: 1220px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    margin-bottom: 65px;
  }
}

.form__group--personal {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .form__group--personal {
    margin-bottom: 72px;
  }
}

.form__group--programm {
  outline: 1px solid #D9D9D9;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .form__group--programm {
    margin-left: -20px;
    margin-right: -20px;
    padding: 22px 20px 19px;
  }
}
@media (min-width: 768px) {
  .form__group--programm {
    margin-bottom: 72px;
    padding: 25px 27px 25px;
  }
}

.form__group--comment {
  margin-bottom: 22px;
  gap: 0;
}
@media (min-width: 768px) {
  .form__group--comment {
    margin-bottom: 66px;
  }
}
@media (min-width: 1220px) {
  .form__group--comment {
    margin-bottom: 67px;
  }
}

.field__comment {
  margin: 0;
  padding: 0;
  border: 1px solid #E7E7E7;
  height: 150px;
  width: 100%;
  padding: 9px 12px 15px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .field__comment {
    height: 174px;
    padding-top: 10px;
    padding-left: 19px;
  }
}

.form__group--additional {
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .form__group--additional {
    margin-bottom: 54px;
  }
}
@media (min-width: 1220px) {
  .form__group--additional {
    margin-bottom: 61px;
  }
}
@media (min-width: 768px) {
  .form__group--additional .form__group-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 123px;
  }
}
@media (min-width: 1220px) {
  .form__group--additional .form__group-input {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 104px;
  }
}

.form__legend--additional {
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .form__legend--additional {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
  }
}
@media (min-width: 1220px) {
  .form__legend--additional {
    margin-bottom: 57px;
  }
}

.form_footer {
  display: flex;
  flex-direction: column;
  gap: 21px;
}
@media (min-width: 768px) {
  .form_footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 61px;
    align-items: center;
  }
}
@media (min-width: 1220px) {
  .form_footer {
    column-gap: 81px;
  }
}

.form__button {
  padding: 7px;
}
@media (min-width: 768px) {
  .form__button {
    padding: 13px;
  }
}

.form__additional {
  font-size: 16px;
  line-height: 16px;
}

.logo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
@media (min-width: 768px) {
  .logo {
    display: flex;
    width: 174px;
    justify-content: space-between;
  }
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.logo__signature {
  justify-self: center;
}

.offer {
  background-image: url("../../img/background-offer.jpg");
  background-color: rgba(104, 183, 56, 0.85);
  padding: 58px 60px 43px;
}
@media (min-width: 768px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
@media (min-width: 1220px) {
  .offer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 245px;
    box-sizing: border-box;
  }
}

.offer__icon {
  background-image: url("../../img/icon_gift.svg");
  width: 78px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 48px;
}
@media (min-width: 768px) {
  .offer__icon {
    margin-bottom: 0;
  }
}

.offer__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin: 0;
  text-align: center;
}

.page-footer {
  background-color: #F2F2F2;
}

.page-footer__inner {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
@media (min-width: 768px) {
  .page-footer__inner {
    margin: 0 30px;
    flex-direction: row;
    justify-content: space-between;
    margin: 55px 20px;
  }
}
@media (min-width: 1220px) {
  .page-footer__inner {
    width: 1220px;
    margin: 57px auto;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: space-around;
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .page-footer__logo {
    padding: 5px;
    border-bottom: none;
    display: block;
  }
}
.page-footer__logo:hover {
  opacity: 0.8;
}
.page-footer__logo:active {
  opacity: 0.6;
}

.page-header__nav {
  position: relative;
}
@media (max-width: 767px) {
  .page-header__nav {
    border-bottom: 1px solid #D9D9D9;
  }
}
@media (min-width: 768px) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    margin: 24px 30px;
  }
}
@media (min-width: 1220px) {
  .page-header__nav {
    display: flex;
    justify-content: space-between;
    margin: 53px auto;
    max-width: 1220px;
  }
}

.page-header__bar {
  display: grid;
  grid-template-columns: 70% 1fr;
  padding: 10px 20px 17px;
}
@media (min-width: 768px) {
  .page-header__bar {
    display: flex;
    padding: 0;
  }
}

.page-header__toogle {
  position: absolute;
  width: 24px;
  height: 38px;
  top: 10px;
  right: 20px;
  background-color: transparent;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .page-header__toogle {
    display: none;
  }
}

@media (max-width: 767px) {
  .page-header__menu {
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
  }

  .page-header__toogle--opened .page-header__menu {
    display: block;
  }

  .page-header__toogle--closed .page-header__menu {
    display: none;
  }

  .page-header__toogle--nojs .page-header__menu {
    display: block;
    position: static;
  }

  .page-header__toogle--nojs .page-header__toogle {
    display: none;
  }

  .page-header__toogle--closed .page-header__toogle::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 1.5px;
    top: 10px;
    right: 0;
    background-color: #000000;
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  .page-header__toogle--opened .page-header__toogle {
    top: 10px;
    right: 20px;
  }
  .page-header__toogle--opened .page-header__toogle::before, .page-header__toogle--opened .page-header__toogle::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 0;
    width: 25px;
    height: 1.5px;
    background-color: #000000;
  }
  .page-header__toogle--opened .page-header__toogle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .page-header__toogle--opened .page-header__toogle::after {
    transform: rotate(-45deg);
  }
}
.page-main__primary-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  text-align: center;
  padding-top: 27px;
  margin-bottom: 25px;
  min-height: 72px;
}
@media (min-width: 768px) {
  .page-main__primary-title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 40px;
    text-align: left;
    margin-bottom: 41px;
    min-height: 120px;
  }
}
@media (min-width: 1220px) {
  .page-main__primary-title {
    margin-bottom: 29px;
    padding-top: 21px;
  }
}

.process__inner {
  padding: 0 20px;
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .process__inner {
    padding: 0 30px;
    padding-right: 105px;
    padding-bottom: 47px;
    margin-bottom: 0;
    border-bottom: 1px solid #E6E6E6;
  }
}
@media (min-width: 1220px) {
  .process__inner {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
    border-bottom: none;
    margin-bottom: 26px;
  }
}

.process__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin: 0;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .process__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 72px;
  }
}

.process__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 768px) {
  .process__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 137px;
    row-gap: 77px;
  }
}
@media (min-width: 1220px) {
  .process__list {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
    row-gap: auto;
  }
}

.process__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .process__text {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 57px;
  }
}
@media (min-width: 1220px) {
  .process__text br {
    display: none;
  }
}

.process__item {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 20px;
  align-items: center;
  position: relative;
}
.process__item::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-color: #68B738;
}
@media (min-width: 768px) {
  .process__item {
    grid-template-columns: auto;
    gap: 31px;
  }
  .process__item::before {
    width: 80px;
    height: 80px;
  }
  .process__item::after {
    position: absolute;
    right: 0;
    bottom: -2px;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 280px;
    line-height: 280px;
    font-weight: 400;
    color: #F2F2F2;
    z-index: -1;
    width: 134px;
    height: 280px;
  }
}

@media (min-width: 768px) {
  .process__item--nutrient::after {
    content: "1";
  }

  .process__item--powder::after {
    content: "2";
  }

  .process__item--replacement::after {
    content: "3";
  }

  .process__item--month::after {
    content: "4";
  }
}
.process__item--nutrient::before {
  background-image: url("../../img/svg_icon/icon_leaf.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__item--powder::before {
  background-image: url("../../img/svg_icon/icon_powder.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__item--replacement::before {
  background-image: url("../../img/svg_icon/icon_replacement.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.process__item--month::before {
  background-image: url("../../img/svg_icon/icon_month.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.promo {
  background-image: url("../../img/background-promo.jpg");
  background-repeat: repeat-x;
  background-position: top;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .promo {
    background-image: none;
    background-color: #FFFFFF;
    color: #000000;
  }
}
@media (min-width: 1220px) {
  .promo {
    background-image: none;
    background-color: transparent;
  }
}

.promo__inner {
  margin-bottom: 20px;
  padding: 0 20px;
  display: grid;
  justify-items: center;
}
@media (min-width: 768px) {
  .promo__inner {
    margin: 0 30px;
    padding: 0;
    padding-left: 90px;
    justify-items: start;
  }
}
@media (min-width: 1220px) {
  .promo__inner {
    max-width: 1220px;
    padding: 0;
    padding-left: 80px;
    margin: 0 auto;
    margin-bottom: 136px;
    grid-template-columns: 414px auto;
  }
}

.promo__text {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;
}
@media (min-width: 768px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }
}
@media (min-width: 1220px) {
  .promo__text {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 52px;
    grid-column: 1/2;
  }
}

.promo__button {
  margin-top: 3px;
  justify-self: stretch;
  padding: 7px 0;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__button {
    justify-self: start;
    grid-row: 3/4;
    grid-column: 1/2;
    align-self: flex-start;
    padding: 14px 26px;
    margin: 0;
  }
}

@media (min-width: 768px) {
  .promo__image {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: -29px;
    justify-self: center;
  }
}
@media (min-width: 1220px) {
  .promo__image {
    grid-row: -1/5;
    grid-column: 2/-1;
    justify-self: start;
    margin-left: -46px;
    z-index: -1;
    width: 552px;
    height: 499px;
  }
}

.show-more {
  padding: 78px 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .show-more {
    padding: 37px;
    padding-top: 161px;
    outline: 2px solid #F2F2F2;
    margin-top: 81px;
    justify-content: space-between;
  }
}
@media (min-width: 1220px) {
  .show-more {
    padding: 161px 37px 41px;
  }
}

.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  margin-top: 0;
  position: relative;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .show-more__title br {
    display: none;
  }
}
.show-more__title::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url(../../img/plus.svg);
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: -40px;
}
@media (min-width: 768px) {
  .show-more__title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }
}

.show-more__desc {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #222222;
  margin-top: 0;
  margin-bottom: 21px;
}
@media (max-width: 767px) {
  .show-more__desc br {
    display: none;
  }
}
@media (min-width: 768px) {
  .show-more__desc {
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }
}

.show-more__button {
  background-color: #F2F2F2;
  text-decoration: none;
  color: #444444;
  font-size: 16px;
  line-height: 20px;
  align-self: stretch;
  padding: 10px 0;
  text-transform: uppercase;
  text-align: center;
}
.show-more__button:hover {
  background-color: #EBEBEB;
}
.show-more__button:active {
  opacity: 0.3;
}

.site-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    width: 62.15%;
    justify-content: space-between;
  }
}
@media (min-width: 1220px) {
  .site-menu {
    display: flex;
    flex-wrap: wrap;
    width: 39.18%;
    justify-content: space-between;
  }
}

.site-menu__item {
  text-align: center;
  border-top: 1px solid #E6E6E6;
}
@media (min-width: 768px) {
  .site-menu__item {
    border-top: none;
  }
}

.site-menu__link {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
  padding-top: 22px;
  padding-bottom: 24px;
  display: block;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .site-menu__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding-top: 18px;
    padding-bottom: 11px;
  }
}
@media (min-width: 1220px) {
  .site-menu__link {
    font-size: 20px;
    line-height: 30px;
    padding-top: 16px;
    padding-bottom: 8px;
  }
}
.site-menu__link:hover {
  opacity: 0.6;
}
.site-menu__link:active {
  opacity: 0.3;
}

@media (min-width: 768px) {
  .site-menu__link--current {
    border-bottom: 2px solid #68B738;
  }
}

.social-list {
  list-style: none;
  margin: 0;
  padding: 23px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #D9D9D9;
}
@media (min-width: 768px) {
  .social-list {
    padding: 5px;
    border-bottom: none;
  }
}

.social-list__item:not(:last-child) {
  padding-right: 35px;
}

.social-list__link--instagram svg,
.social-list__link--vkontakte svg {
  fill: #666;
}
.social-list__link--instagram svg:hover,
.social-list__link--vkontakte svg:hover {
  fill: #68B738;
}
.social-list__link--instagram svg:active,
.social-list__link--vkontakte svg:active {
  opacity: 0.3;
}

.social-list__link--facebook svg {
  stroke: #666;
  stroke-width: 1.1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}
.social-list__link--facebook svg:hover {
  stroke: #68B738;
}
.social-list__link--facebook svg:active {
  opacity: 0.3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  background-color: #68B738;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
}
.button:hover {
  background-color: #5EAA2F;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.card-desc {
  margin: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 6px;
}
@media (min-width: 768px) {
  .card-desc {
    row-gap: 0;
  }
}

.card-desc__title,
.card-desc__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .card-desc__title,
.card-desc__definition {
    border-bottom: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 16px;
  }
}

.card-desc__definition {
  justify-self: end;
}
@media (min-width: 768px) {
  .card-desc__definition {
    justify-self: stretch;
    text-align: right;
  }
}

.card-desc {
  margin: 0;
  display: grid;
  grid-template-columns: 60% 40%;
  row-gap: 6px;
}
@media (min-width: 768px) {
  .card-desc {
    row-gap: 0;
  }
}

.card-desc__title,
.card-desc__definition {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .card-desc__title,
.card-desc__definition {
    border-bottom: 1px solid #CDCDCD;
    box-sizing: border-box;
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 16px;
  }
}

.card-desc__definition {
  justify-self: end;
}
@media (min-width: 768px) {
  .card-desc__definition {
    justify-self: stretch;
    text-align: right;
  }
}

.control-radio {
  display: grid;
  gap: 15px;
  align-items: center;
}
@media (min-width: 768px) {
  .control-radio {
    gap: 20px;
  }
}

.control-mark {
  position: relative;
  box-sizing: border-box;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid #CDCDCD;
}
.control-mark:hover {
  border: 1px solid #BABABA;
}

.control-radio__input[type=radio]:checked + .control-mark::after {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  background-color: #68B738;
  border-radius: 50%;
  content: "";
}

.control-radio__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}
@media (min-width: 768px) {
  .control-radio__lead {
    font-size: 20px;
    line-height: 30px;
  }
}

.control-radio {
  display: grid;
  gap: 18px;
  align-items: center;
}
@media (min-width: 768px) {
  .control-radio {
    gap: 19px;
  }
}

.control-mark--checkbox {
  position: relative;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background-color: #FFFFFF;
  border: 1px solid #CDCDCD;
}
.control-mark--checkbox:hover {
  border: 1px solid #BABABA;
}

.control-checkbox__input[type=checkbox]:checked + .control-mark--checkbox::after {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  background-image: url("../../img/svg_icon/tick.svg");
  content: " ";
}

.control-checkbox__lead {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .control-checkbox__lead {
    font-size: 20px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */