$font-heading: "Oswald", "Arial", sans-serif;
$font-body: "Arial", sans-serif;
// Цвета в проекте
$basic-green: #68B738;
$basic-grey: #F2F2F2;
$hover-green: #5EAA2F;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #444444;
$special-grey: #EAEAEA;
$special-dark-grey: #222222;
$very-dark: #111111;


$tablet-width: 768px;
$desktop-width: 1220px;
$mobile-width-only: 767px;
$mobile-width: 320px;
